@charset "UTF-8";

body, div {
	margin: 0;
	padding: 0;
}
/* 对话框的样式, 具有一定透明度,且鼠标移上去时会改变指针的样式 */
#dialog {
	position: absolute;
	left: 15px;
	right: 15px;
	border-radius: 10px;
	opacity: 75%;
	bottom: 0px;
	cursor: pointer;
}

.game_frame {
	/*游戏页面,还是喜欢720p的经典大小. 设置背景完全填充且只填充一次*/
	height: 720px;
	width: 1280px;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 2px solid;
	display: none;
}

#left_lihui {
	/*立绘靠父容器div左下角*/
	height: 70%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 4%;
	padding-bottom: 8%;
}

#right_lihui {
	/*立绘靠父容器div右下角*/
	height: 70%;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 4%;
	padding-bottom: 8%;
	transform: rotateY(180deg);
}
/* 选项框的位置,一开始是隐藏的 */
#choice_frame {
	right: 5%;
	bottom: 40%;
	position: absolute;
	display: none;
}
/* 结束,题字的时候,字要在中间. 背景是宣纸那张图 */
#end {
	background-image: url("./res/endingBG.jpg");
	text-align: center;
}
/* 题的字, 3秒的时间来淡入 */
#fenghao {
	animation-duration: 3s;
}